<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>
  <main>
    <h4>Search for Books</h4>
    <a href="/search">Search the Google API</a>
    <section>
      <ul class='book_card'>
        <% results.forEach(book => { %>
          <li data-id="<%= book.id %>">
            <h4><%= book.title %></h4>
            <a href="/books/<%= book.id %>"><img src="<%= book.image_url %>" alt="Cover image"></a>
            <p><%= book.author %></p>
            <p>Bookshelf: <%= book.bookshelf %></p>
            <div>
              <a href="/books/<%= book.id %>">Select this Book</a>
            </div>
          </li>
          <% }) %>
        </ul>
      </section>
      
    </main>
  <%- include('../layout/footer') %>
</body>

</html>