<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>
  <main>
    <h4>Search for Books</h4>
    <a href="/search">Search the Google API</a>
  </main>
  <section>
    <ul>
      <% results.forEach(book => { %>
      <li class='' data-id="<%= book.id %>">
        <h4><%= book.title %></h4>
        <a href="/books/<%= book.id %>"><img src="<%= book.image_url %>" alt="Cover image"></a>
        <p><%= book.author %></p>
        <a href="/books/<%= book.id %>">Select this Book</a>
      </li>
      <% }) %>
    </ul>
  </section>
  <%- include('../layout/footer') %>
</body>

</html>